<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header" ui-sref-active="active">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home">SML Futbol</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav" ng-controller="UserSessionCtrl">
        <li ui-sref-active="active"><a ui-sref="main" class="navbar-link">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-controller="UserSessionCtrl">
        <li ui-sref-active="active" ng-show="isNotLogged()"><a id="registerLink" ui-sref="register" class="navbar-link">Register</a></li>
        <li ui-sref-active="active" ng-show="isNotLogged()"><a id="loginLink" ui-sref="login" class="navbar-link">Login</a></li>
        <li ui-sref-active="active" ng-show="isLogged()"><a id="profileLink" ui-sref="profile" class="navbar-link">Logged in as {{getLoggedUserName()}}</a></li>
        <li ui-sref-active="active" ng-show="isLogged()"><a id="logoutLink" href="" ng-click="logout();" class="navbar-link">Logout</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
