<div class="centered-block">
  <h2>Hi there! Welcome to Futbol</h2>

  <p>In this template application you can register as a new user, log in and later manage your user details.</p>
  <p>If you are interested in how Futbol works, you can
    <a href="http://softwaremill.github.io/futbol/">browse the documentation</a>, or the
    <a href="https://github.com/softwaremill/futbol">source code</a>.</p>


  <h4>brought to you by <a href="http://softwaremill.com" target="_blank"><img src="/assets/img/sml_2.png" class="sml-logo" alt="SoftwareMill"/></a></h4>
</div>
